<!DOCTYPE html>
<html>
<head>
    <!-- mandatory meta tags -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TYelp Camp App</title>
    <link rel="stylesheet" href="/app.css">
</head>
<body>