<% include ./partials/header %>
<div class="text-center row">
    
    <div style="width: 30%; margin: 25px auto;">
        <form class="form-signin" action="/register" method="post">
            <h1 class="mb-3 font-weight-normal">Register</h1>
            <label class="sr-only" for="username">Username</label>
            <input class="form-control" type="text" name="username" placeholder="Username" required autofocus>
            <label class="sr-only" for="password">Password</label>
            <input class="form-control" type="password" name="password" placeholder="Password" required>
            <h1 class="h3 mb-3 font-weight-normal">Your Details</h1>
            <label class="sr-only" for="firstName">First Name</label>
            <input class="form-control" type="text" name="firstName" placeholder="First Name">
            <label class="sr-only" for="lastName">Last Name</label>
            <input class="form-control" type="text" name="lastName" placeholder="Last Name">
            <label class="sr-only" for="email">Email Address</label>
            <input class="form-control" type="email" name="email" placeholder="Email Address">
            <label class="sr-only" for="avatar">Avatar URL</label>
            <input class="form-control" type="text" name="avatar" placeholder="Avatar URL">
            <label class="sr-only" for="adminCode">Admin Code</label>
            <input class="form-control" type="text" name="adminCode" placeholder="Admin Code">
            <button class="btn btn-lg btn-primary btn-block">Sign Up!</button>
        </form>
        <a href="/campgrounds">Go Back</a>
    </div>
</div>

<% include ./partials/footer %>